@font-face {
	font-family: 'Dancingscript';
	src: url(../fuentes/DancingScript-Regular.otf);
}

*{
  font-family: Dancingscript;
}

body{
  background-color: #02010a;
}

.contenido{
	width: 900px;
	margin: auto;
}

.contenedor{
	display: flex;
	flex-wrap: nowrap;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color:#5b7989;
}

#encabezado{
	width: 70%;
	float: left;
	padding-left: 10px;
	background-color:#5b7989;
}

#encabezado h1{
	text-align: left;
	color: white;
	text-shadow: 2px 2px 2px #02010a ;
}

#enlaces{
	width: 30%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	float: right;
	padding-right: 10px;
	background-color:#5b7989;
}

.enlaces{
	width: 10%;
}

#enlaces a:visited, a{
	color: white;
}

#contenido_section{
	display: flex;
	flex-direction: column;
}

.contenedor_section{
	display: flex;
	flex-direction: row;
}

.contenedor_galeria{
	display: flex;
	flex-direction: column;
}

.galeria-section{
	display: flex;
	flex-direction: row;
	background-color: #d5c75f;
}

.galeria > img {
	max-width: 85%;
	display: block;
	margin: auto;
	box-shadow: 2px 2px 2px #02010a;
}

#imagen_central{
	width: 100%;
	text-align: center;
	background-color: #82c3a6;
}

.contenedor_galeria > div, .contenedor_section > div{
		padding: 20px 50px 20px 50px;
}

#imagen_central img{
	display: block;
	margin: auto;
	width: 75%;
}

#imagenes_secundarias{
	background-color: #d5c75f;
	border: 1px solid black;
}

#imagenes_secundarias > div{
	text-align: center;
	width: 50%;
}

#retratos img, #paisajes img{
	display: block;
	margin: auto;
	box-shadow: 2px 2px 2px #02010a;
	max-width: 90%;
}

@-webkit-keyframes paisajes-animacion{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(10deg);
	}
}

#paisajes img:hover{
	animation: paisajes-animacion 2s;
}

@-webkit-keyframes retratos-animacion{
	from{
		transform: translate(none);
	}
	to{
		transform: translate(20px, -5px);
	}
}

#retratos img:hover{
	animation: retratos-animacion 2s;
}

#imagen1 > img{
	-webkit-filter: blur(10px);
	filter: blur(10px);
}

#imagen2 > img, #imagen4 > img, #imagen6 > img{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

#imagen3 > img{
	-webkit-filter: sepia(90%);
	filter: sepia(90%);
}

.contenedor-footer{
	display: flex;
	flex-direction: row;
}

#footer{
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #C6d5c5;
}

.info-footer{
	vertical-align: top;
	padding-left: 10px;
	width: 25%;
}

@media screen and (max-width: 900px) {
	.contenido{
		width: 100%;
		margin: auto;
	}

	.contenedor{
		display: flex;
		flex-direction: column;
		padding-right: 10px;
	}

	#encabezado{
		width: 100%;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}

	#encabezado h1{
		text-align: center;
	}

	#enlaces{
		width: 100%;
	}

	.enlaces{
		width: 10%;
	}

	#contenido_section{
		display: flex;
		flex-direction: column;
	}

	.galeria-section, .contenedor_galeria, .contenedor_section{
		display: flex;
		flex-direction: column;
	}

	.contenedor_galeria > div{
			padding: 0px;
	}

	.galeria{
			padding: 20px 50px 20px 50px;
	}

	#imagen_central{
		width: 100%;
	}

	#imagen_central img, #imagenes_secundarias img{
		width: 75%;
	}

	#imagenes_secundarias > div{
		width: 100%;
	}

	#paisajes{
		width: 100%;
		order: 1;
	}

	#retratos{
		width: 100%;
		order: 2;
	}

	.contenedor-footer{
		display: flex;
		flex-direction: column;
	}

	.info-footer{
		padding-left: 50px;
		width: 100%;
	}
}
